<div id="profile-super-wrapper">
<div id="wrapper1">
  <div id="profile-header">
    <h2>Sign In</h2>
  </div>

<div id="sign-in-settings-main">

<%= form_for :session, url: session_path do |form| %>

  <div class="label-wrap">
    <div class="text-field">
      <p>Email:</p>
    </div>
    <div class="form">
      <%= form.text_field :email, type: 'email', :class => 'form-box' %>
    </div>
  </div>

  <div id="label-wrap">
    <div class="text-field">
      <p>Password</p>
    </div>
    <div class="form">
      <%= form.password_field :password, :class => 'form-box' %>
    </div>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>
</div>
</div>
</div>