


<div id="category_wrap">
    <div id="category_1">
        <img src="./imgages/badminto" alt="">
    </div>
    <div id="category_2"> <%= image_tag "badminton.png" %> </div>
    <div id="category_3"><%= image_tag ".png" %></div>
    <div id="category_4"><%= image_tag "badminton.png" %></div>
    <div id="category_5"><%= image_tag "badminton.png" %></div>
    <div id="category_6"><%= image_tag "badminton.png" %></div>
</div>


Listing index
<% @listings.each do |t| %>
	<p><%=link_to t.title, t%></p>
<%end%>

