

<div class="flex-container">
    <div class="category"><%= image_tag "badminton.png", {class:"badminton"}%> </div>
    <div class="category"><%= image_tag "bbq.png", {class:"bbq"}%></div>
    <div class="category"><%= image_tag "basketball.png", {class:"basketball"}%></div>
    <div class="category"><%= image_tag "gym.png", {class:"gym"}%></div>
    <div class="category"><%= image_tag "swim.png", {class:"swim"}%></div>
    <div class="category"><%= image_tag "tennis.png", {class:"tennis"}%></div>
</div>

<div id="grid-layout-listings">
    <div id="a">Ho</div>
    <div id="b">Li</div>
    <div id="c">Chow</div>
</div>

Listing index
<% @listings.each do |t| %>
	<p><%=link_to t.title, t%></p>
<%end%>

