<div><%= image_tag @listing.avatar,{id:'main_image'}%></div>

<div id="container_box">
<div id="main_information">
	<p class="listing-title2"><%= @listing.title%></p>
	<p class="listing-address2"><%= @listing.address%></p>
	<p class="listing-city2"><%= @listing.city%></p>
	<!-- <p class="listing-category2"><%= @listing.category%></p> -->
</div>

<div id="reservation_form">
    <p><%= @listing.price%></p>
	<p><%= link_to "click here to book", new_listing_reservation_path(@listing.id) %></p>
</div>
</div>
