<%if current_user.image != nil %>
<%= image_tag current_user.image %>
<%end%>

<div id="wrapper">

    <div id="profile-header">
      <h2>Profile Settings</h>
    </div>

  <div id="profile-settings-main">
    <%= form_for @user do |form|%>

    <div class="label-wrap">
      <div class="text-field">
        <p>Email: </p>
      </div>
      <div class="form">
        <%= form.text_field :email, type: 'email',:class => 'form-box' %>
      </div>
    </div>

    <div class="label-wrap">
      <div class="text-field">
        <p>Password:</p>
      </div>
      <div class="form">
        <%= form.password_field :password, :class => 'form-box'%>
      </div>
    </div>


    <% if current_user.management? %>

    <div class="label-wrap">
      <div class="text-field">
        <p>Property Name: </p>
      </div>
      <div class="form">
        <%= form.text_field :name, :class => 'form-box'%>
      </div>
    </div>

    <div class="label-wrap">
      <div class="text-field">
        <p>Manger Name: </p>
      </div>
      <div class="form">
      <%= form.text_field :manager_name, :class => 'form-box' %>
      </div>
    </div>

    <div class="label-wrap">
      <div class="text-field">
       <p>Address: </p>
      </div>
      <div class="form">
      <%= form.text_field :address, :class => 'form-box' %>
      </div>
    </div>


    <div class="label-wrap">
      <div class="text-field">
        <p>City: </p>
      </div>
      <div class="form">
      <%= form.text_field :city, :class => 'form-box' %>
      </div>
    </div>

    <div class="label-wrap">
      <div class="text-field">
        <p>Property Type: </p>
      </div>
      <div class="form">
      <%= form.text_field :property_type, :class => 'form-box' %>
    </div>
    </div>

    <div class="label-wrap">
      <div class="text-field">
        <p>Number: </p>
      </div>
      <div class="form">
      <%= form.telephone_field :contact_number, :class => 'form-box' %>
      </div>
    </div>

    <% end %>
  </div>
    <div class="submit-field">
      <%= form.submit %>
    </div>
    <% end %>

</div>
