<div id="wrapper2">
    <div id="profile-header">
        <h2>Managment Profile</h2>
    </div>
    <div id="profile-settings-main">
        <div id="profile-pic">
            <% if current_user.image %>
                <%= image_tag current_user.image, :id => 'profile_picture_size' %>
            <%end%>
        </div>

        <div class="text-managment">
            <% if current_user %>
            	<p class="management-name"><%= current_user.name%></p>
            	<p class="management-name"><%= current_user.email%></p>
            	<%#= image_tag current_user.image %>
        </div>

        <div id="text-managment">
            <p class="management-box"><%= link_to "Listing Index",listings_path%></p>
        </div>

        <div id="text-managment">
                <% if current_user %>
            	   <% if current_user.management? %>
            		  <p class="management-box"><%= link_to "Create New Listing",new_listing_path%></p>
            	   <% end %>
        </div>
        <div class="management-box"> <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
                <% end %>
        </div>

            <%end%>
        <div>
            <%if current_user %>
                <%= button_to "sign out", sign_out_path, method: :delete, :class => 'btn_sign_out' %>
            <%end%>
        </div>
    </div>
</div>
<p>Reservation</p>
<div>
    <% @reservation.each do |r|%>
        <%= r.start_time %>
        <%= r.end_time %>
        <%= r.listing.title%>
    <%end%>
</div>