<div class="main">

	<div class="button_box2">
		<%= form_tag(listings_path, method: :get, class:"form-wrapper-2 cf") do %>
		  <%= select_tag :city, options_from_collection_for_select(Listing.select(:city).distinct.order(:city),"city","city"), class:"search-select-tab" %>
		  <%= submit_tag 'Search', name: nil, class:"button" %>
		<%end%>
	</div>
</div> 
	
	<div class="container-fluid">
		<div class="buttons">
			<div class="row1">
				<div class="category"><%=link_to (image_tag "apartment_bbq.jpg", {class:"image"}), listings_path(category: 'BBQ' )%> </div>
				<div class="category"><%=link_to (image_tag "apartment_bmt.jpg", {class:"image"}), listings_path(category: 'Badminton' )%> </div>
			    <div class="category"><%=link_to (image_tag "apartment_bkb.jpg", {class:"image"}), listings_path(category: 'Basketball' )%> </div>
			</div>

			<br>

			<div class="row2">
			    <div class="category "><%=link_to (image_tag "apartment_gym.jpg", {class:"image"}), listings_path(category: 'GYM' )%> </div>
			    <div class="category"><%=link_to (image_tag "apartment_pool.jpg", {class:"image"}), listings_path(category: 'Swimming Pool' )%> </div>
			    <div class="category"><%=link_to (image_tag "apartment_tennis.JPEG", {class:"image"}), listings_path(category: 'Tennis' )%> </div>
			</div>
		</div>
	</div>
