<div class="main">

	<%= form_tag(listings_path, method: :get, class:"search") do %>
	  <%= select_tag :city, options_from_collection_for_select(Listing.select(:city).distinct.order(:city),"city","city"), class:"search-select-tab" %>
	  <%= submit_tag 'Search', name: nil, class:"main-search-button" %>
	  <br>
	<%end%>
</div> 
	<%#= image_tag current_user.image %>
<%= link_to "Listing Index",listings_path%>
<% if current_user.management? %>
	<%= link_to "Create New Listing",new_listing_path%>
<% end %>

	<div> <%= link_to "Edit Profile", edit_user_path(current_user.id) %> </div>


<%= link_to "Make Payment", braintree_new_path %>