<ul>
  <li><a class="active" href="/">FacHub</a></li>
  <li><a href="/listings">All Listings</a></li>
  <lu class="navbar-right">
       <% if signed_in?%>
          <%if current_user.image == nil%>
            <%= link_to "Profile Page" ,user_path(current_user.id) %>
          <%else%>
            <li><%= link_to (image_tag current_user.image, {class:"profile-pic"}) , user_path(current_user.id) %> </li>
          <%end%>
           <li><%= button_to "sign out", sign_out_path, method: :delete %> </li>
       <% else %>
          <%= link_to "sign in", sign_in_path%>
       <% end %>
      </lu>
</ul>
  

 <!--  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "FacHub", root_path, class:"navbar-brand"%>
      </div>
      <ul class="nav navbar-nav">
        <li>
        <%= form_tag(listings_path, method: :get, class:"") do %>
          <%= select_tag :city, options_from_collection_for_select(Listing.select(:city).distinct.order(:city),"city","city"), class:"search-select-tab" %>
          <%= submit_tag 'Search', name: nil, class:"button" %>
        <%end%>
        </li>
        <li><a href="/listings">All Listings</a></li>
        <li><a href="#">Page 2</a></li>
      </ul> -->


     <!--  <ul class="nav navbar-nav navbar-right">
       <% if signed_in?%>
          <%if current_user.image == nil%>
            <li><%= link_to "Profile Page" ,user_path(current_user.id) %></li>
          <%else%>
            <li> <%= link_to (image_tag current_user.image, {class:"profile-pic"}) , user_path(current_user.id) %> </li>
          <%end%>
          <li> <%= button_to "sign out", sign_out_path, method: :delete %> </li>
       <% else %>
          <li><%= link_to "sign in", sign_in_path%></li>
       <% end %>
      </ul>
    </div>
  </nav> -->
