<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.css">

  <!-- Load the Client component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

  <!-- Load the Hosted Fields component. -->
  <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.full.js"></script>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>


</head>
<body>
<%= render partial: 'layouts/nav'%>

  <%= yield %>
  <%# unless current_page?(controller: 'home', action: 'index') %>
  <%# end %>
</body>
</html>
